services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "status"]
      interval: 10s
      timeout: 2s
      retries: 5
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 2s
      retries: 5

  aggregator:
    image: ghcr.io/naganathan05/load-pulse-aggregator:latest
    container_name: aggregator
    environment:
      - DOCKER_ENV=true
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${LOAD_TESTER_PORT}:8080"

  load-tester:
    image: ghcr.io/naganathan05/load-pulse-load-tester:latest
    container_name: load-tester
    environment:
      - DOCKER_ENV=true
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "${AGGREGATOR_PORT}:8081"
    volumes:
      - type: bind
        source: ${TESTCONFIG_FILE_PATH:-./testConfig.json}
        target: /workspace/testConfig.json
        read_only: true